<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to("SAMPLE_APP", "/", class:"navbar-brand") %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if current_user%>
          <%= link_to("ユーザー一覧", "/users/index", class: "nav-item nav-link active px-3")%>
          <%= link_to("新規投稿", post_new_path, class:"nav-item nav-link active px-3") %>
          <%= link_to("ログアウト", logout_path, class:"nav-item nav-link active px-3") %>
        <% else %>
          <%= link_to("会員登録", "/users/new", class: "nav-item nav-link active px-3") %>
          <%= link_to("ログイン", login_form_path, class:"nav-item nav-link active px-3" ) %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>